%ul.nav.flex-column
  %li.nav-item
    = link_to 'dashboard', admin_authenticated_path, class: "nav-link"
  %li.nav-item
    = link_to 'companies', admin_companies_path, class: "nav-link"
  %li.nav-item
    = link_to 'rooms', admin_rooms_path, class: "nav-link"
  %li.nav-item
    = link_to 'lights', admin_lights_path, class: "nav-link"
