%ul.nav.flex-column
  %li.nav-item
    %a.nav-link.active{:href => "#"} Dashboard
  %li.nav-item
    %a.nav-link{:href => "#"} Companies
  %li.nav-item
    %a.nav-link{:href => "#"} Spaces
  %li.nav-item
    %a.nav-link.disabled{:href => "#"} Lights
